.begin1{
	font-size:30px;
	color:white;
	font-style:bold;
}

.begin2{
	display:grid;
	font-size:19px;
	color:white;
	font-style:bold;
}
.display{
	display: grid;
	grid-template-columns: auto;
	align-content: center;
	grid-row-gap: 10px;
}

#listButton{
	color:white;
}


#listButton:hover{
	color:gold;
}

.listFont{
	font-family: 'Sofia';font-size: 22px
	color:white;
}

.firstHide{
	color:white;
	font-size: 18px;
}

#list{
	color:white;
}

button{
	color: white;
	background-color: purple;
	border: none;
	width: 150px;
	height: 35px;
	font-size: 15px;
	font-weight: bold;
	margin: auto;
}

button:hover{
	color:gold;
}



body{
	background-color:gray;
	text-align: center;
}


.chartSize{
	 width: 512px;
	 height: 256px;
}